<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home page </title>
    <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('css/bootstrap.css')) }}" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #87CEEB;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #87CEFA;

        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #0000FF;
        }
        h3 {
            display: block;
            font-size: 3em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            color: #111111;
        }


        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
        .button {
            background-color: #4CAF50;
            border-radius: 8px;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 1px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            margin: 30px 40px;
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
            padding: 6px 4px;
        }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }

        .button2 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
            padding: 6px 4px;
        }

        .button2:hover {
            background-color: #008CBA;
            color: white;

        }

        .button3 {
            background-color: white;
            color: black;
            border: 2px solid #f44336;
            padding: 6px 4px;
        }

        .button3:hover {
            background-color: #f44336;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Pharmacies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharmacie in pharmacies %}
            <tr>
                <td><a href="{{ path('pharmacie_show', { 'id': pharmacie.id }) }}">{{ pharmacie.id }}</a></td>
                <td>{{ pharmacie.nom }}</td>
                <td>{{ pharmacie.prenom }}</td>
                <td>{{ pharmacie.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pharmacie_show', { 'id': pharmacie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pharmacie_edit', { 'id': pharmacie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pharmacie_new') }}">Create a new pharmacie</a>
        </li>
    </ul>
</body>
</html>
