<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home page </title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet"  href="{{ asset('css/style1.css') }}" />
    <link rel="stylesheet"  href="{{ asset('css/2.css') }}" />


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<ul>
    <li><a href="#">Alomed plateforme</a></li>
</ul>
<div class="container">
    <a href="{{ absolute_url(asset('')) }}app_dev.php/indexpatient" class="btn btn-danger btn-xs">Back</a>
    <div class="list-group">
        <table>
            <tr>patient</tr>
            <tr>
                <td>{{patient.id}}</td>
                <td><p class="list-group-item">{{ patient.nom}} </p></td>
                <p class="list-group-item">{{ patient.prenom}} </p>
                <p class="list-group-item">{{ patient.getDateDeNaissance()|date('d-m-Y')}} </p>
                <p class="list-group-item">{{ patient.email}} </p>
                <p class="list-group-item">{{ patient.password}} </p>
                <p class="list-group-item">{{ patient.telephone}} </p>
                <p class="list-group-item">{{ patient.addresse}} </p>
                <a href="{{ absolute_url(asset('')) }}app_dev.php/indexpatient" class="btn btn-danger btn-xs">Back</a></tr>
        </table>
    </div>


</div>
</body>
</html>